#main_image{
	background-image: url("/static/images/main_image.jpg") ;
	background-attachment: fixed;
	 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
height: 600px;
color:#03161c;
}
#main_image_login{
	background-image: url("/static/images/login.jpg") ;
	background-attachment: fixed;
	 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
height: 800px;
color:#03161c;
}
#sub_main_image{
	
}

#header{
	background-color: #003749;
}
#panel_control{
	background-color: #dbdcdd;
	color:#131314;
}
#box_1{
	background-color: #f2f3f4 ;
	color:black;

}
#box_2{
	background-color: #f2f3f4;
	color:black;

}
#form{
background-color: white;
}