{% extends 'base.html' %}
{%  block body %}

	<section id="face">
			<div class="container-fluid pt-5" id="main_image_login">
				<div class="row p-5" id="sub_main_image">
					<div class="col-md-5  text-center p-3" id="form">
						<h5 class="text-uppercase">Ingresa los datos</h5>
						<hr>

							<form method="GET" class="form">
								{% csrf_token %}
								<h6>Seleccione el tipo de dato</h6>
								<select name="tipo_dato" class="form-control" placeholder="Seleccion tipo de datos" required >
									<option></option>
									<option>Temperatura</option>
									<option>Humedad</option>
									<option>CO</option>
									<option>CO2</option>
									<option>O3</option>
									<option>NH3</option>
									<option>Todos</option>
								</select>								
								<br>
								<h6>Iniciar en: </h6>		
								<input type="date" name="date_start" class="form-control" required id="date_start" onchange="calendar()">		
								<h6>Terminar en: </h6>		
								<input type="date" name="date_finish" class="form-control" required id="date_finish" onchange="calendar()">		
								<br>		
								<h6> Cantidad de datos por tabla</h6>		
								<input type="number" name="index" class="form-control" value= 8>		
								<br>		
								<input type="submit" class="btn btn-lg btn-dark" value="Buscar" id="boton" >		
							</form>		
							<br>		
							<h6>Total de datos encontrados: {{total_registros}}</h6>		
							<br>
							<p id="alerta" style="color:red"></p>	
							<br>
							<a class="btn btn-lg btn-success" href="?reporte={{ 1 }}">Gererar Reporte</a>

								
				</div>
						<div class="col-md-5 bg-white ml-5 p-3 text-center" >
						<h5 class="text-uppercase"> Resultados</h5>
				{% if datos_list %}
									<table class="table" >
										<thead>
											<td>
												Tipo de dato
											</td>
											<td>
												Valor
											</td>
											<td>
												Fecha de medicion
											</td>
										</thead>
										{% for datos in datos_list %}
												<tbody style="font-size:12px">
													<td>
														{{datos.tipo_dato}}
													</td>
													<td>
														{{datos.valor_dato}}
													</td>
													<td>
														{{datos.fecha}}
													</td>

												</tbody>
										{% endfor %}
									</table>
									{% else %}
											<h4>No hay datos</h4>
									{% endif %}


								    
								        {% if datos_list.has_previous %}
								            <a class="fas fa-backward" href="?page={{ datos_list.previous_page_number }}"></a>
								        {% endif %}

								           <h8>  {{ datos_list.number }} - {{ datos_list.paginator.num_pages }}.</h8>
								    

								        {% if datos_list.has_next %}
								            <a class="fas fa-forward" href="?page={{ datos_list.next_page_number }}"></a>
								        {% endif %}

								
					</div>
				</div>		
			</div>
	</section>
	
<script type="text/javascript">

	document.getElementById("boton").disabled =true;
	function calendar()
{	
	console.log("cambio_calendario")
	start=document.getElementById("date_start").value;   
	finish=document.getElementById("date_finish").value;
	console.log(finish)
	if(finish < start){
		document.getElementById("boton").disabled =true;
		document.getElementById("alerta").innerHTML="Fechas Incoherentes, Por Favor Repita Seleccion <p strong>('Terminar en: debe ser mayor a inicial en:')</p>"
	}
	else{

		document.getElementById("boton").disabled =false;
		document.getElementById("alerta").innerHTML=""
	}

}

</script>



{% endblock %}
{%block datos%}
{% endblock %}
