{% extends "base.html"%}
{% block body %}
{% endblock %}
{% block datos%}
	<section  id="panel_control">
		<div class="container-fluid pt-5" >
			<div class="row">
				<div class="col-md-12 text-center ">
					
					<div class="col-md-12  text-center">

						<div class="row ml-5 mt-5">


<!-- ////////////////////////////////////////////////////////////////777 -->
<!-- ////////////////////////////////////////////////////////////////777 -->
<!-- ////////////////////////////////////////////////////////////////777 -->
							<div class="col-md-3 ml-5 mb-3 pb-2 " id="box_1">
								<h6 class="text-uppercase p-3">NO2</h6>
								<div class="row">
									<div class="col-md-2 offset-md-2 text-center">
										<h1 class="fas fa-bong ml-3 mb-5 mr-3" style="color:#365e87;font-size: 500%;"></h1>

									</div>											
									<div class="col-md-6 mt-3 ml-5 text-center">
										<h3 id="value_no2"></h3>
									</div>	
								</div>	
								<div class="graficas-container">	
									<canvas class="graficas" id="grafica-no2" width="150" height="100"></canvas>	
								</div>

							</div>	

<!-- ////////////////////////////////////////////////////////////////777 -->
<!-- ////////////////////////////////////////////////////////////////777 -->
<!-- ////////////////////////////////////////////////////////////////777 -->
										<div class="col-md-3 ml-5 mb-3 pb-2 " id="box_1">
											<h6 class="text-uppercase p-3">Humdedad</h6>
											
											
											<div class="row">
												<div class="col-md-2 offset-md-3 text-center">

													<h1 class="fas fa-tint" style="color:#365e87;font-size: 500%;"></h1>

												</div>											
												<div class="col-md-5 text-center mt-3">
													<h3 id="value_hum"></h3>
												</div>	

											</div>	
											<div class="graficas-container">	
												<canvas class="graficas" id="grafica-humedad" width="150" height="100"></canvas>		
											</div>
										</div>	

										

<!-- ////////////////////////////////////////////////////////////////777 -->
<!-- ////////////////////////////////////////////////////////////////777 -->
<!-- ////////////////////////////////////////////////////////////////777 -->

										<div class="col-md-3 ml-5 mb-3 pb-2 " id="box_1">
											<h6 class="text-uppercase p-3">Dioxido de carbono</h6>
											
											<div class="row">
												<div class="col-md-2 offset-md-2 text-center">
													<h1 class="fas fa-cloud " style="color:#365e87;font-size: 500%;"></h1>

												</div>											
												<div class="col-md-6 mt-3 ml-5 text-center">
													<h3 id="value_co2"></h3>
												</div>	
											</div>	

											<div class="graficas-container">	
												<canvas class="graficas" id="grafica-co2" width="150" height="100"></canvas>		
											</div>
										</div>	

					</div>
								

<!-- ////////////////////////////////////////////////////////////////777 -->
<!-- ////////////////////////////////////////////////////////////////777 -->
<!-- ////////////////////////////////////////////////////////////////777 -->
			<div class="row ml-5">

							<div class="col-md-3 ml-5 mb-3 pb-3 " id="box_1">
								<h6 class="text-uppercase p-3">Ozono</h6>

								<div class="row">
									<div class="col-md-2 offset-md-2 text-center">
										<h1 class="fas fa-cloud-sun ml-3 mb-5 mr-3" style="color:#365e87;font-size: 500%;"></h1>

									</div>											
									<div class="col-md-6 mt-3 ml-5 text-center">
										<h3 id="value_ozone"></h3>
									</div>	
								</div>	
								<div class="graficas-container">	
									<canvas class="graficas" id="grafica-o3" width="150" height="100"></canvas>		
								</div>

							</div>


<!-- ////////////////////////////////////////////////////////////////777 -->
<!-- ////////////////////////////////////////////////////////////////777 -->
<!-- ////////////////////////////////////////////////////////////////777 -->

							<div class="col-md-3 ml-5 mb-3 pb-3 " id="box_1">
								<h6 class="text-uppercase p-3">NH3</h6>
								
								<div class="row">
									<div class="col-md-2 offset-md-2 text-center">
										<h1 class="fas fa-flask ml-3 mb-5 mr-3" style="color:#365e87;font-size: 500%;"></h1>

									</div>											
									<div class="col-md-6 mt-3 ml-5 text-center">
										<h3 id="value_nh3"></h3>
									</div>	
								</div>	
								<div class="graficas-container">	
									<canvas class="graficas" id="grafica-nh3" width="150" height="100"></canvas>		
								</div>

							</div>


<!-- ////////////////////////////////////////////////////////////////777 -->
<!-- ////////////////////////////////////////////////////////////////777 -->
<!-- ////////////////////////////////////////////////////////////////777 -->
							<div class="col-md-3 ml-5 mb-3 pb-3 " id="box_1">
								<h6 class="text-uppercase p-3">MONOXIDO DE CARBONO</h6>

								<div class="row">
									<div class="col-md-2 offset-md-2 text-center">
										<h1 class="fas fa-joint ml-3 mb-5 mr-3" style="color:#365e87;font-size: 400%;"></h1>
									</div>											
									<div class="col-md-6 mt-3 ml-5 text-center">
										<h3 id="value_co"></h3>
									</div>	
								</div>	
								<div class="graficas-container">	
									<canvas class="graficas" id="grafica-co" width="150" height="100"></canvas>		
								</div>
							</div>	
			</div>


<!-- ////////////////////////////////////////////////////////////////777 -->
<!-- ////////////////////////////////////////////////////////////////777 -->
<!-- ////////////////////////////////////////////////////////////////777 -->
							<div class="row ml-5 mb-5">
								<div class="col-md-5 offset-md-3 pb-2" id="box_1">
									<h6 class="text-uppercase p-3">Temperatura</h6>
									<div class="row">
										<div class="col-md-2  offset-md-3 text-center">

											<h1 class="fas fa-thermometer-quarter" style="color:#365e87;font-size: 500%;"></h1>

										</div>											

										<div class="col-md-5 mt-3">

											<h3 id="value_temp"></h3>

										</div>	
									</div>
								<div class="graficas-container">	
									<canvas class="graficas" id="grafica-temperatura" width="150" height="100"></canvas>		
								</div>
								</div>
							</div>
		</div>
  </div>
</div>


<!-- ////////////////////////////////////////////////////////////////777 -->
<!-- ////////////////////////////////////////////////////////////////777 -->
<!-- ////////////////////////////////////////////////////////////////777 -->


</section>
{% load static %}
<script src="{% static '/js/Graficas.js' %}"></script> 

{% endblock %}

